@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.showcase{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6), url('./images/background.jpg')) no-repeat center cover/cover;
    width: 100%;
    height: 100vh;
}
.showcase .navbar-top{
    width: 100%;
    display: flex ;
    padding: 0 80px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #0a2940;
    top: 0;
    left: 0;

}